[submodule "plugin/ThirdParty/SC"]
	path = plugin/ThirdParty/SC
	url = https://github.com/scwmake/SupercellFlash
[submodule "plugin/ThirdParty/libnest2d"]
	path = plugin/ThirdParty/libnest2d
	url = https://github.com/Daniil-SV/libnest2d-Binaries
