{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": "commonjs",
				"targets": {
					"node": 8 // CEP 9
				}
			}
		],
		"@babel/react",
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		[
			"@babel/plugin-transform-optional-chaining",
			{
				"loose": true
			}
		]
	]
}